<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-12">
      <label for="status">Filter By 
        <input type="radio" name="server" value="instanceType" [(ngModel)]="selectedServer"> Server Size /
         
        <input type="radio" name="server" value="status" [(ngModel)]="selectedServer"> Status  : </label>
      <input id="status" type="text" [(ngModel)]="filteredString" style="margin-left: 15px;">
      <!-- <button></button> -->
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filteredString:selectedServer"
          [ngClass]="getStatusClasses(server)">
          <strong>{{ server.name | shorten:10 }}</strong> | 
          {{ server.instanceType | uppercase }} | 
          {{ server.started | date:'mediumDate' }}
          <span
            class="badge">
            {{ server.status }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
